body {
	margin: 0 auto;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

h2, h3 {
	color: #4D4848;
}
/* Menu bar begins here */

nav {
	height: 64px;
	display: flex;
}

ul {
	height: 100%;
	width: 70%;
	align-items: center;
	display: flex;
	color: darkgray;
	margin: 0;
	justify-content: right;
	margin-right: 24px;
}

li:nth-child(n+1) {
	margin-right: 16px;
}

 li {
	list-style: none;
}

strong {
	color: #000;
}

#logo {
	display: flex;
	align-items: center;
	width: 30%;
	margin-left: 24px;
}

/* Masthead begins here */

#masthead {
	display: flex;
	background-color: whitesmoke;
	padding: 32px 24px;
}

#banner {
	width: 60%;
	max-width: 60%;
}

#mastTXT {
	padding-top: 150px;
	max-width: 40%;
	width: 40%;
	padding-left: 24px;
	color: #4d4848;
	font-size: 1.5em;
}

#mastTXT h1 {
	font-weight: 600;
	padding-bottom: 20px;
	width: 80%;
}

#mastTXT button {
	border: 0;
	background-color: #4d4848;
	color: #FFF;
	font-size: 1em;
	padding: 8px;
	width: 80%;
}

#mstP{
	width: 80%;
	padding-bottom: 20px;
}

/* Main body content begins here */

#main {
	display: flex;
	padding: 32px 24px;
}

#leftClmn {
	border-right: 1px solid whitesmoke;
	max-width: 60%;
	padding-right: 24px;
}

#leftClmn img, p {
	max-width: 100%;
	width: 100%;
	font-weight: 200;
}

#leftClmn strong {
	color: #4d4848;
	font-weight: 600;
	font-size: 1.5em;
	padding: 32px 0 24px 0;
}
#rightClmn {
	min-width: 40%;
	padding-left: 16px;
}

.containers {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: 1px solid whitesmoke;
}

.containers img {
	height: auto;
	width: 35%;
	max-width: 35%;
	padding: 10px 0;
}

.containers p {
	padding-left: 32px;
}

.title {
	font-weight: bold;
	font-size: 2em;
	color: #4D4848;
	line-height: 2em;
}

/* Courses begins here */

#startLearning {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	background-color: whitesmoke;
	padding: 32px 72px;

}

#startLearning h1 {
	width: 100%;
	text-align: center;
	padding-bottom: 32px;
}

.courses {
	max-width: 30%;
	background-color: #FFF;
	margin-bottom: 32px;

}

.courses h2 {
	padding: 16px 0 8px 16px;
}

.courses h3 {
	padding: 0 0 8px 16px;
}

.courses p {
	max-width: 90%;
	padding-bottom: 20px;
}

.courses img {
	max-width: 100%;
}

/* Thesis begins here */

#thesis {
	display: flex;
	max-width: 100%;
	padding: 32px 24px;
	border-bottom: 1px solid whitesmoke;
}

#thesis h2 {
	padding: 24px 0 8px 0;
}

#thesLeft p {
	font-weight: 200;
}

#thesLeft {
	width: 60%;
	max-width: 60%;
	padding-right: 12px;
}

#thesRight {
	width: 40%;
	max-width: 40%;
	background-color: #FFF;
	padding-left: 12px;
}

#thesRight img {
	width: 35%;
	max-width: 35%;
}

.thesContainer {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin: 16px;
	padding: 16px;
}

.thesContainer p {
	padding-left: 16px;
	line-height: 1.5em;
}

.thesTitle {
	color: #4D4848;
	font-weight: bold;
	font-size: 1.5em;
}

#thes1 {
	background-color: whitesmoke;
}

video {
	width: 100%;
	max-width: 100%;
}

footer {
	margin-left: 24px;
	color: #4D4848;
}